.incorect{
  border: 4px double black; /* Параметры границы */
  margin: auto;
width: 40%;
padding: 100px;
--tw-bg-opacity: 1;
background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}

.droper{
  text-align: center;
  color: aliceblue;
  border: 4px double black; /* Параметры границы */
     margin: auto;
  width: 30%;
  padding: 10px;
}
.hText{
  text-align: center;
}

.drop{
  --tw-bg-opacity: 1;
background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
}
.cant{
  --tw-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));

}
.canAdd{
  border: 4px double green;
  border-color: green;
  --tw-bg-opacity: 1;
background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
  
}